.corMenu {
  background: linear-gradient(to right, #ffffff, #ebc5cf9f, #ffffff);
}

.corJT {
  background: linear-gradient(to right, #ffffff, #ebc5cf9f, #ffffff);
}

.imgLogo {
  width: 40px;
  margin-left: 5%;
  justify-content: inherit;
}
